# FastAPI & Server
fastapi
uvicorn[standard]
python-multipart

# Database
motor
pymongo

# Authentication
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.0.0

# Configuration
pydantic-settings

# Cloudinary
cloudinary

# ML / AI
httpx
Pillow

# Utilities

email-validator
